ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-container {
    width: 980px;
}

.header-bg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 135px;
    background: url("https://www.shinhansec.com/siw/common/images/common/bg_top.gif") no-repeat 50% 0;
    z-index: -1;
}

.topbar {
    font-size: 13px;
    /* padding: 5px 20px; */
    display: flex;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.logo {
    overflow: hidden;
    display: block;
    width: 189px;
    height: 33px;
    text-align: left;
    background: url("https://www.shinhansec.com/siw/common/images/common/bg_layout_G.png") no-repeat;
}

.top-links {
    display: flex;
    justify-content: flex-end;
    /* padding: 9px; */
    flex: 1;
}

.top-links ul {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    color: #4f5156;
    font-size: 12px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-links .bold {
    font-weight: 600;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    height: 60px;
    box-shadow: 0 1px 10px 0 #aaa;
    position: relative;
    z-index: 10;
}

.main-header-inner {
    width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-sizing: border-box;
}

.main-nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

.main-nav ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 0;
    padding: 0;
    position: relative;
}

.main-nav li {
    font-weight: 600;
    font-size: 16px;
    color: #111;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 60px;
    white-space: nowrap;
}

.icons {
    display: flex;
    height: 60px;
}

.icons>div {
    width: 65px;
    height: 60px;
    background-color: #0098db;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #007fc3;
    cursor: pointer;
}

.icons>div:first-child {
    border-left: none;
}

.icon-btn-mypage,
.icon-btn-search,
.icon-btn-menu {
    position: relative;
}

.icon-btn-mypage::after,
.icon-btn-search::after,
.icon-btn-menu::after {
    content: "";
    display: block;
    position: absolute;
    margin-top: 0px;
    background: url(https://www.shinhansec.com/siw/common/images/common/bg_layout_G.png) no-repeat;
    z-index: 1;
}

.icon-btn-mypage::after {
    left: 20px;
    width: 25px;
    height: 25px;
    background-position: -195px 0;
}

.icon-btn-search::after {
    left: 20px;
    width: 24px;
    height: 25px;
    background-position: -220px 0;
}

.icon-btn-menu::after {
    left: 20px;
    width: 25px;
    height: 19px;
    background-position: -244px -3px;
}

.sub-nav {
    display: flex;
    justify-content: space-between;
    background-color: #F1F2F6;
    margin-bottom: 50px;
}

.sub-nav ul {
    display: flex;
}

.sub-nav li {
    font-size: 15px;
    cursor: pointer;
    position: relative;
    padding: 0 38px 0 15px;
    border-right: 1px solid #dcdcdc;
    line-height: 42px;
    height: 39px;
}

.home::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 16px;
    margin: -8px 0 0 -9px;
    background: url("https://www.shinhansec.com/siw/common/images/common/bg_layout_G.png") no-repeat -387px 0;
}

.toggle::after {
    content: '';
    display: block;
    position: absolute;
    top: 19px;
    right: 10px;
    width: 8px;
    height: 4px;
    background: url("https://www.shinhansec.com/siw/common/images/common/bg_layout_G.png") no-repeat -424px 0;
}

.sub-nav-icon {
    display: flex;
    width: 138px;
}

.sub-nav-icon-star,
.sub-nav-icon-print,
.sub-nav-icon-text {
    position: relative;

    flex: 1;
}

.sub-nav-icon-star::after,
.sub-nav-icon-print::after,
.sub-nav-icon-text::after {
    content: "";
    display: block;
    position: absolute;
    margin-top: 0px;
    background: url("https://www.shinhansec.com/siw/common/images/common/bg_layout_G.png") no-repeat;
    z-index: 1;
}

.sub-nav-icon-star::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 16px;
    margin: -8px 0 0 -10px;
    background: url("https://www.shinhansec.com/siw/common/images/common/bg_layout_G.png") no-repeat;
    background-position: -504px -20px;
}

.sub-nav-icon-print::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 16px;
    margin: -8px 0 0 -10px;
    background: url("https://www.shinhansec.com/siw/common/images/common/bg_layout_G.png") no-repeat;
    background-position: -526px -20px;
}


.sub-nav-icon-text::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 16px;
    margin: -8px 0 0 -10px;
    background: url("https://www.shinhansec.com/siw/common/images/common/bg_layout_G.png") no-repeat;
    background-position: -550px -20px;
}